<%- include("./partials/header.ejs") %>

<%- include("./partials/nav.ejs") %>

<div class="row1-col-2">
        
    <p style=" padding-left: 11px; ">ACCOUNT</p>
    <hr>
    <div class="icon-container">
        <div class="account_signInform_container" style="word-wrap: normal;">
            <h2> Description: </h2>
            <hr>
            <p> --|   Change account information.</p>
            <p> --|   Create a new account.</p>
                   
            <!-- account_signInform_container -->
        </div>
               
    <hr>
<!-- ------------------------------------------------------- -->  
                    
    <div class="log_In_form" style="background-color:#D6D9C5; width: 410px;">
	
	<form id="accountForm">
       <div class="account_form_container">
        <h3>Account Information</h3>
        <div style="display: flex">
            <p><span style="font-size: large; font-weight: bold; margin-left: 15px;">Account ID:</span><span class="tab"></span> <%=User.id%></p>
            <input  id="userId" name="userId" style="visibility: hidden;" type="hidden" value="<%=User.id%>">
        </div>

        <div style="display: flex">
            <p><span style="font-size: large; font-weight: bold; margin-left: 15px;">First Name:</span><span class="tab"></span> <%=User.fName%></p><br>
            <input  id="fName" name="fName" style="visibility: hidden;" class="hidden" required value="<%=User.fName%>">
        </div>

        <div style="display: flex">
            <p><span style="font-size: large; font-weight: bold; margin-left: 15px;">Last Name:</span><span class="tab"></span> <%=User.lName%></p><br>
            <input id="lName" name="lName" style="visibility: hidden;" class="hidden" required value="<%=User.lName%>">
        </div>

        <div style="display: flex">
            <p><span style="font-size: large; font-weight: bold; margin-left: 15px;">Email:</span><span class="tab"></span> <%=User.email%></p><br>
            <input id="email" name="email" style="visibility: hidden;" class="hidden" required value="<%=User.email%>">        
        </div>

        <div style="display: flex">
            <p><span style="font-size: large; font-weight: bold; margin-left: 15px;">Phone Number:</span><span class="tab"></span> <%=User.phone%></p><br>
            <input id="phone" name="phone" style="visibility: hidden;" class="hidden" value="<%=User.phone%>">        
        </div>

        <div style="display: flex">
            <p><span style="font-size: large; font-weight: bold; margin-left: 15px;">Username:</span><span class="tab"></span> <%=User.username%></p><br>
            <input id="username" name="username" style="visibility: hidden;" class="hidden" required value="<%=User.username%>"> 
        </div>

        <div style="display: flex">
            <p><span style="font-size: large; font-weight: bold; margin-left: 15px;">Password:</span><span class="tab"></span> Hidden Value</p>
            <input id="password" name="password" style="visibility: hidden;" class="hidden" required placeholder="Updated Password">
        </div>
        <br>
        <hr>
        <button type="button" id="edit" class="edit" style="float: left; margin-left: 20px;">Edit</button>
        <button type="button" id="cancel" class="cancel" style="visibility: hidden; float: left; margin-left: 20px;">Cancel</button>
        <button type="button" id="update"style="visibility: hidden;" class="hidden">Update</button>
        <br>
           
           <!-- Account Container Form -->
           </div>
		<!-- Account Form -->
		</form>
                    
        
    <!-- account_signInform_container -->
    </div>
               
    <hr>
<!-- ------------------------------------------------------- -->  
                    
    <div class="account_signInform_container">
        <!-- account_signInform_container -->
        <a href="/account/plans" style="color: black;">View Saved Meal Plans</a>
    </div>
               
               
    <!-- icon-container -->
    </div>
    <br><br><hr>
           
           
<!-- row1-col-2 -->
</div>

<%- include("./partials/favs.ejs") %>

<%- include("./partials/footer.ejs") %>

<script>
    editBtn = document.getElementById("edit");
    updateBtn = document.getElementById("update");
    cancelBtn = document.getElementById('cancel');
    accountForm = document.getElementById('accountForm');

    editBtn.addEventListener('click', (e) => {
        inputs = Array.from(document.querySelectorAll("input.hidden"));
        buttons = Array.from(document.querySelectorAll("button.hidden"));
        
        inputs.forEach(input => {
            input.style.visibility = "visible";        
        });
        buttons.forEach(button => {
            button.style.visibility = "visible";
        });
        editBtn.style.visibility = "hidden";
        cancelBtn.style.visibility = "visible";

    });

    updateBtn.addEventListener('click', async (e) => {
        const userId = accountForm.userId.value;
        const fName = accountForm.fName.value;
        const lName = accountForm.lName.value;
        const email = accountForm.email.value;
        const phone = accountForm.phone.value;
        const username = accountForm.username.value;
        const password = accountForm.password.value;

        try {
            const res = await fetch(`/account/user/${userId}`, {
                method: 'POST',
                body: JSON.stringify({fName, lName, email, phone, username, password}),
                headers: { 'Content-Type': 'application/json'}
            })
            .then(location.reload(true));

        }catch (err) {
            console.log(err);
        }
    });

    cancelBtn.addEventListener('click', (e) => {
        inputs = Array.from(document.querySelectorAll("input.hidden"));
        buttons = Array.from(document.querySelectorAll("button.hidden"));
        
        inputs.forEach(input => {
            input.style.visibility = "hidden";        
        });
        buttons.forEach(button => {
            button.style.visibility = "hidden";
        });
        editBtn.style.visibility = "visible";
        cancelBtn.style.visibility = "hidden";

    });




</script>