<%- include("./partials/header.ejs") %>

<%- include("./partials/nav.ejs") %>

<div class="row1-col-2">
    <p style = "padding-left: 10px;">ACCOUNTS</p>
<hr>           
        <div class="icon-container">
         

   <form action="name_Of_My_PHP_File.php" method="post">
       <div class="account_form_container">
        <h3>Account Information</h3>
        <div style="display: flex">
            Account ID: <p><%=User.id%></p>
        </div>

        <div style="display: flex">
            First Name: <p><%=User.fName%></p><br>
        </div>
        <input  id="fName" type="hidden" required placeholder="Updated First Name">

        <div style="display: flex">
            Last Name: <p><%=User.lName%></p><br>
        </div>
        <input id="lName" type="hidden" required placeholder="Updated Last Name">

        <div style="display: flex">
            Email: <p><%=User.email%></p><br>
        </div>
        <input id="email" type="hidden" required placeholder="Updated Email">

        <div style="display: flex">
            Username: <p><%=User.username%></p><br>
        </div>
        <input id="username" type="hidden" required placeholder="Updated Username"> 

        <div style="display: flex">
            Password: <p>Hidden Value</p>
        </div>
        <input id="password" type="hidden" required placeholder="Updated Password">
        <br>
        <br><br>
        <hr>
        <button id="edit">Edit</button>
        <button style="visibility: hidden;">Update</button>
        <button style="visibility: hidden;" style="text-decoration: underline; color: blue;">Reset</button>
        <br>
           
        <a href="/account/plans">View Saved Meal Plans</a>
           
           <!-- Account Container Form -->
           </div>
<!-- Account Form -->
</form>
            
             <!-- icon-container -->
           </div>
<br><br><hr>
       <!-- row1-col-2 -->
</div>

<%- include("./partials/favs.ejs") %>

<%- include("./partials/footer.ejs") %>

<script>
    
</script>