<%- include("./partials/header.ejs") %>

<%- include("./partials/nav.ejs") %>

<div class="row1-col-2">
            
    <p style = "padding-left: 10px;">CATALOG</p>
<hr>            
         <div class="icon-container">
                <div class="catalog_container">
                    <P>BREAKFAST</P> 
                    <hr>
                    <% if (recipes.length > 0) { %>
                        <% recipes.forEach(recipe => { %>
                            <% if(recipe.recipeTypeId == 1) { %>
                                <div class="catalog_box">
                                    <h3><%= recipe.name %></h3>
                                    <p><%= recipe.description %></p>
                                    <a href ="/catalog/<%=recipe.id %>" style="color: aliceblue; text-decoration: underline;">View More</a>
                                    <br>
                                    <div class="favBtn">
                                        <% if(favs.includes(recipe.id)) { %>
                                            <button class="favoriteBtnDelete" id=<%=recipe.id %>><i class="fa-solid fa-heart"></i></button>
                                        <% } else { %>
                                            <button class="favoriteBtn" id=<%=recipe.id %>><i class="fa-regular fa-heart"></i></button>
                                        <% } %>
                                    </div>
                                </div>
                            <% } %>
                        <% }) %>
                    <% } else { %>
                        <p>There are no recipes to display...</p>
                    <% } %>
                 <hr>   
                <!-- Breakfast Catalog- container -->
             </div>
           
             
            <div class="catalog_container">
                <p>LUNCH</p>
                <hr>
                <% if (recipes.length > 0) { %>
                    <% recipes.forEach(recipe => { %>
                        <% if(recipe.recipeTypeId == 2) { %>
                            <div class="catalog_box">
                                <h3><%= recipe.name %></h3>
                                <p><%= recipe.description %></p>
                                <a href ="/catalog/<%=recipe.id %>" style="color: aliceblue; text-decoration: underline;">View More</a>
                                <br>
                                <div class="favBtn">
                                    <% if(favs.includes(recipe.id)) { %>
                                        <button class="favoriteBtnDelete" id=<%=recipe.id %>><i class="fa-solid fa-heart"></i></button>
                                    <% } else { %>
                                        <button class="favoriteBtn" id=<%=recipe.id %>><i class="fa-regular fa-heart"></i></button>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                    <% }) %>
                <% } else { %>
                    <p>There are no recipes to display...</p>
                <% } %>
                 <hr> 
              <!-- Lunch Catalog- container -->
             </div>
             
             
             <div class="catalog_container">
                 <p>DINNER</p>
                 <hr>
                 <% if (recipes.length > 0) { %>
                    <% recipes.forEach(recipe => { %>
                        <% if(recipe.recipeTypeId == 3) { %>
                            <div class="catalog_box">
                                <h3><%= recipe.name %></h3>
                                <p><%= recipe.description %></p>
                                <a href ="/catalog/<%=recipe.id %>" style="color: aliceblue; text-decoration: underline;">View More</a>
                                <br>
                                <div class="favBtn">
                                    <% if(favs.includes(recipe.id)) { %>
                                        <button class="favoriteBtnDelete" id=<%=recipe.id %>><i class="fa-solid fa-heart"></i></button>
                                    <% } else { %>
                                        <button class="favoriteBtn" id=<%=recipe.id %>><i class="fa-regular fa-heart"></i></button>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                    <% }) %>
                <% } else { %>
                    <p>There are no recipes to display...</p>
                <% } %>
                 <hr>             
              <!-- Dinner Catalog- container -->
             </div>
            
               
              
             <!-- icon-container -->
            </div>
<br><br><hr>
        <!-- row1-col-2 -->
    </div>

    <script>
        document.querySelectorAll('button.favoriteBtn').forEach(item => {
            item.addEventListener("click", async (e) => { 
                try {
                    const res = await fetch("/account/favoriterecipes", { 
                    method: 'POST', 
                    headers: {'Content-Type':'application/json'},
                    body: JSON.stringify({ 
                    recipeId: item.id,
                    userId: `<%= user.id %>` 
                    })
                    })
                    .then(location.reload(true));
                } catch (err) {
                    console.log(err);
                }
             })
            });
        document.querySelectorAll('button.favoriteBtnDelete').forEach(item => {
            item.addEventListener("click", async (e) => {
                console.log(item.id);
                const endpoint = `/account/favoriterecipes`;
                await fetch(endpoint, {
                method: 'DELETE',
                 headers: {'Content-Type':'application/json'},
                body: JSON.stringify({ 
                recipeId: item.id,
                userId: `<%= user.id %>`
                })         
                })
                .then(location.reload(true))
                .catch((err) => console.log(err));
            })
        });

    </script>

    <%- include("./partials/favs.ejs") %>

    <%- include("./partials/footer.ejs") %>