<%- include("./partials/header.ejs") %>

<%- include("./partials/nav.ejs") %>

<div class="row1-col-2">
        
    <p style="padding-left: 11px; ">HOME</p>
   <hr>
   <div class="summary_page">      

    <p class="description_schedule"
       class="description_schedule"> Your online Menu Planner is everything you need for<strong> -viewing -creating and  -planning </strong> your breakfast, lunch and dinner throught your day, weeks or month. <p style="margin-left: 10px;">Log-In or Create an account to edit your <strong> Scheduler </strong> and <strong>Profile.</strong> </p></p>
        
  </div>
  
   <div class="icon-container">
    <% const catalogText = 'Find our catalog of great recipes here!';
       const plannerText = 'Create a new meal plan here';
       const accountText = 'Account page';
       const dashboardText = ''; %>
       
  <% if (user) { %>
      <!--If a general user is signed in this is their nav bar-->
    <div id="cornflowerblue"> 
      <a href="/catalog">
      <h3> CATALOG </h3>
      <p><%=catalogText %></p>
      <div id="imgContainer">
        <img src ="images/catalog.png">
      </div>
      </a>
   </div>
    <div id="gray">
      <a href="/account/mealplanner">
        <h3> MEAL PLANNER </h3>
        <p><%=plannerText %> </p>     
        <div id="imgContainer">
          <img src ="images/scheduler.png">
        </div>
      </a>
    </div>    
    <div id="blue">
      <a href="/account/user/<%= user.id %>">
        <h3> ACCOUNT </h3>
        <p><%=accountText %> </p> 
      <div id="imgContainer">
       <img src ="images/sign-in.png">
       </div>
     </a>
  </div>

  <% } else if (admin) { %>
      <!--If an admin is signed in this is their nav bar-->
    <div id="cornflowerblue" style="margin-left: 90px;"> 
        <a href="/catalog">
        <h3> CATALOG </h3>
        <p><%=catalogText %> </p>
        <div id="imgContainer">
           <img src ="images/catalog.png">
        </div>
        </a>
    </div>

    <div id="orange" style="margin-right: 5%;">
      <a href="/admin/dashboard">
      <h3> DASHBOARD </h3>    
      <p><%= dashboardText %> </p>
        <div id="imgContainer">
          <img src ="images/admin-sys.png">
        </div>
      </a>
    </div>
  <% } else { %>
      <!--If no one is signed in this is their nav bar-->
      <div id="cornflowerblue" style="margin-left: 290px;"> 
        <a href="/catalog">
        <h3> CATALOG </h3>
        <p><%=catalogText %> </p>
        <div id="imgContainer">
           <img src ="images/catalog.png">
        </div>
        </a>
      </div>
      <!-- <div id="gray" style="margin-right: 5%;">
        <a href="/example">
          <h3> MEAL PLANNER</h3>
          <p> Trial Example <%= plannerText %> </p>     
          <div id="imgContainer">
            <img src ="images/scheduler.png">
          </div>
        </a>
      </div>  -->
      
  <% } %>        
        <!-- icon-container -->
    </div>
   <br><br><hr>

   <!-- row1-col-2 -->
   </div>

   <%- include("./partials/favs.ejs") %>

   <%- include("./partials/footer.ejs") %>