<%- include("./partials/header.ejs") %>

<%- include("./partials/nav.ejs") %>

<div class="row1-col-2">
        
    <p style="padding-left: 11px; ">HOME</p>
   <hr>
   <div class="summary_page">      

    <p class="description_schedule"
       class="description_schedule"> Your online Menu Planner is everything you need for<strong> -viewing -creating and  -planning </strong> your breakfast, lunch, and dinner throughout your day, week, or month. <p style="margin-left: 10px;">Log-In or Create an account to save your <strong> Schedule</strong>.</p></p>
        
  </div>
  
   <div class="icon-container">
    <% const catalogText = 'All of our curated recipes, with a complete grocery list of each in a pdf file';
       const plannerText = 'The Scheduler page gives the unsubscribe vistor the option to select and print a grocery list for a day/s, week or month.';
       const accountText = 'The Accounts page gives the vistors the ability to edit their accounts, schedulers and favorites';
       const dashboardText = 'Your hub for everything you need to control the site.'; %>

  <% if (user) { %>
      <!--If a general user is signed in this is their nav bar-->
    <div id="cornflowerblue"> 
      <a href="/catalog">
      <p> CATALOG <hr><br>FOR All USERS</p>
      <p><%=catalogText %></p>
      </a>
   </div>
    <div id="gray">
      <a href="/account/mealplanner">
        <p>MEAL PLANNER  <hr><br>FOR ACCOUNT USERS</p>
        <p><%=plannerText %> </p>     
      </a>
    </div>    
    <div id="blue">
      <a href="/account/user/<%= user.id %>">
        <p> ACCOUNT <hr><br>FOR ACCOUNT USERS</p>
        <p><%=accountText %> </p> 
     </a>
  </div>

  <% } else if (admin) { %>
      <!--If an admin is signed in this is their nav bar-->
    <div id="cornflowerblue" style="height: 53%;"> 
        <a href="/catalog">
        <p> CATALOG <hr><br>FOR All USERS</p>
        <p><%=catalogText %> </p>
        </a>
    </div>

    <div id="gray" style="height: 53%;">
      <a href="/account/mealplanner">
        <p>MEAL PLANNER  <hr><br>FOR ACCOUNT USERS</p>
        <p><%=plannerText %> </p>     
      </a>
    </div>    
    <div id="blue" style="margin-right: 10px; height: 53%;">
      <a href="/account/user/<%= admin.id %>">
        <p> ACCOUNT <hr><br>FOR ACCOUNT USERS</p>
        <p><%=accountText %> </p> 
     </a>
  </div>

    <div id="orange" style="margin-right: 20px; height: 53%;">
      <a href="/admin/dashboard">
        <p> DASHBOARD <hr><br>FOR ADMIN USERS</p>    
      <p><%= dashboardText %> </p>
      </a>
    </div>
  <% } else { %>
      <!--If no one is signed in this is their nav bar-->
      <div id="cornflowerblue"> 
        <a href="/catalog">
        <p> CATALOG <hr><br>FOR All USERS</p>
        <p><%=catalogText %></p>
        </a>
     </div>
      <div id="gray">
        <a href="/signup">
          <p>MEAL PLANNER  <hr><br>FOR ACCOUNT USERS</p>
          <p><%=plannerText %> </p>     
        </a>
      </div>    
      <div id="blue">
        <a href="/signup">
          <p> ACCOUNT <hr><br>FOR ACCOUNT USERS</p>
          <p><%=accountText %> </p> 
       </a>
    </div>
      <!-- <div id="gray" style="margin-right: 5%;">
        <a href="/example">
          <h3> MEAL PLANNER</h3>
          <p> Trial Example <%= plannerText %> </p>     
          <div id="imgContainer">
            <img src ="images/scheduler.png">
          </div>
        </a>
      </div>  -->
      
  <% } %>        
        <!-- icon-container -->
    </div>
   <br><br><hr>

   <!-- row1-col-2 -->
   </div>

   <%- include("./partials/favs.ejs") %>

   <%- include("./partials/footer.ejs") %>