<%- include("./partials/header.ejs") %>

<%- include("./partials/nav.ejs") %>

<div class="row1-col-2">
    <p>GROCERY LIST</p>
    <hr>
    <!-- row1-col-2 --> 
    <div class="icon-container">
        <div class="groceryList_container">
            <div id="groceryList">
                <button style="float: right; height: 20px; margin-right: 0; margin-top: 5px;"> Print</button><br>
                <h2>Print Your Grocery List</h2>         
        <% if (list.length > 0) { %>
                <% list.forEach((ingredient, index) => { %>
                        <p style="float: left; margin: auto;"> <%= ingredient.quantity %> <%= ingredient.qualifier%> <%=names[index]%> </p>
                        <br><br>
                <% }) %>
        <% } else { %>
            <p>There are no ingredients to display...</p>
        <% } %>
            </div>
        </div>
    </div>
</div>

<%- include("./partials/footer.ejs") %>