<%- include("./partials/header.ejs") %>

<%- include("./partials/nav.ejs") %>

<div class="row1-col-2">   
    <p style = "padding-left: 10px;">SAVED PLANS</p>
	<hr>  
	<div class="myScheduler_icon-container">                     
        <div class="myPlan_container1">
        
            <h1>Saved Plans</h1>
            <hr>  
        
            <div class="myPlan_grid-container">
			
				<% if (plans.length > 0) { %>
				<% plans.forEach(plan => { %>
                    <div class="myPlan_grid-box">
                        <h3><%= plan.id %></h3>
                        <p><%= plan.numDays %></p>
                        <p><%= plan.numMeals %></p>
                        <a href ="/account/plans/<%=plan.id %>" style="color: aliceblue; text-decoration: underline;">View More</a>
                    </div>
            <% }) %>
        <% } else { %>
            <p>You don't have any saved plans.</p>
        <% } %>
            
            <!--myPlan_grid-container-->
            </div>
        <!--myPlan_container1 -->
        </div>   
    <!-- icon-container -->
    </div>         
<br><br><hr>        
<!-- row1-col-2 -->
</div>

<%- include("./partials/favs.ejs") %>

<%- include("./partials/footer.ejs") %>